include _mixins

doctype html
html
  head
    title= title
    +stylesheet_link_tag("application")
    +javascript_link_tag("vendor/all")
    +javascript_link_tag("handlebars_template")
  body
    header


  block content

  +javascript_link_tag("application")
  +javascript_link_tag("models/dish")
  +javascript_link_tag("collections/dishes", "collections/cart_items")
  +javascript_link_tag("views/dish", "views/menu", "views/header", "views/index", "views/item", "views/cart")
  script(type="text/javascript").
    App.dishes = new Dishes(!{JSON.stringify(dishes)});
  +javascript_link_tag("router")
  block scripts