include _mixins

doctype html
html
  head
    title= title
    +stylesheet_link_tag("application")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous")
    +javascript_link_tag("vendor/all")
    +javascript_link_tag("handlebars_template")
  body
    header


  block content

  +javascript_link_tag("application")
  +javascript_link_tag("models/dish")
  +javascript_link_tag("collections/dishes", "collections/cart_items")
  +javascript_link_tag("views/dish", "views/menu", "views/header", "views/index", "views/item", "views/cart", "views/checkout")
  script(type="text/javascript").
    App.dishes = new Dishes(!{JSON.stringify(dishes)});
  +javascript_link_tag("router")
  block scripts