<a class="logo" href="#">
  <img src="images/logo.png"/>
</a>
<div class="cart_summary">
  <a href="#">
    <span class="left">Shopping Cart</span><!--
    --><span class="right">
      <span class="count">0</span> items
    </span>
  </a>
</div>
